*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
body{
    background-color: lightslategray;
    color: white;
    font-size: 20px;
}


/* MAIN */
.container{
    height: 100vh;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* formattazione contenitore foto */
.box{
    width: 40%;
    position: relative;
    height: 400px;
    display: none;
    overflow: hidden;
}


.cover{
    object-fit: cover;
    object-position: center;
    height: 400px;
    width: 100%;
}


.titolo{
    position: absolute;
    top: 70%;
    right: 5%;
    z-index: 999;
}

.sinossi{
    text-align: right;
    position: absolute;
    top: 80%;
    right: 5%;
    z-index: 999;
}

.miniature{
    height: 400px;
    width: 200px;
    background-color: black;
}

.mini{
    display: block;
    height: 80px;
    width: 100%;
    opacity: 0.5;
}

.current{
    opacity: 1;
    border: 1px solid white;
}

/* classe immagine attiva */
.active{
    display: block;
}

/* formattazione frecce */
.fa-solid{
    font-size: 25px;
    color: white;
    background-color: rgba(122, 122, 122, 0.5);
    padding: 0.2em 0.4em;
    border-radius: 50%;
    position: absolute;
}

.fa-caret-up{
    top: 35%;
    right: 29.5%;
    z-index: 999;
}

.fa-caret-down{
    bottom: 35%;
    right: 29.5%;
    z-index: 999;
}